# Welcome to Our Python World .|. Class - 6

In [1]:
def my_function():
  print("Hello from a function")

In [2]:
my_function()

Hello from a function

In [3]:
def python():
    print("Hello world")

In [4]:
python()

Hello world

In [6]:
def my_function(fname):
  print(fname + " Kohli")

my_function("virat")
my_function("Rohit")
my_function("Sachin")

virat Kohli
Rohit Kohli
Sachin Kohli

In [7]:
def my_country(country):
    print("I am from : "+country)
    
my_country("India")
my_country("America")
my_country("NewZealand")

I am from : India
I am from : America
I am from : NewZealand

In [9]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [10]:
# Return Values

In [11]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45