# Welcome to Our Python World .|. Class -3

# Python Operators

Operators are used to perform operations on variables and values.

# Python divides the operators in the following groups:

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

# Python Arithmetic Operators

+	Addition	        x + y	
-	Subtraction     	x - y	
*	Multiplication	    x * y	
/	Division	        x / y	
%	Modulus	            x % y	
**	Exponentiation	    x ** y	
//	Floor division	    x // y

In [2]:
# Addition

a=3
b=7

print(a+b)

10

In [3]:
# Substraction

a=56
b=32

print(a-b)

24

In [4]:
# Multiplication

a=34
b=12

print(a*b)

408

In [5]:
# Division

a=625
b=25

print(a/b)

25.0

In [11]:
# Modulus

a=12
b=5

print(a%b)

2

In [12]:
x=35
y=5

print(x%y)

0

In [18]:
# Exponentiation

a1=5
b1=3

print(a1 ** b1) # like 5 X 5 X 5 = 125

125

In [ ]:
# Floor division

In [20]:
x = 15
y = 2

print(x // y)

7

# Assignment operators

Operator	 Example	             Same As	
=	         x = 5	                 x = 5	
+=	         x += 3	                 x = x + 3	
-=	         x -= 3	                 x = x - 3	
*=	         x *= 3	                 x = x * 3	
/=	         x /= 3	                 x = x / 3	
%=	         x %= 3	                 x = x % 3	
//=	         x //= 3	             x = x // 3	
**=	         x **= 3	             x = x ** 3	
&=	         x &= 3	                 x = x & 3	
|=	         x |= 3	                 x = x | 3	
^=	         x ^= 3	                 x = x ^ 3	
>>=	         x >>= 3	             x = x >> 3	
<<=	         x <<= 3	             x = x << 3

In [22]:
x=5

print(x)

5

In [24]:
x = 5

x += 3

print(x)

8

In [25]:
x = 5

x -= 3

print(x)

2

In [26]:
x = 5

x *= 3

print(x)

15

In [27]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [28]:
x = 5

x%=3

print(x)

2

In [29]:
x = 5

x//=3

print(x)

1

In [30]:
x = 5

x **= 3

print(x)

125

In [31]:
x = 5

x &= 3

print(x)

1

In [32]:
x = 5

x |= 3

print(x)

7

In [33]:
x = 5

x ^= 3

print(x)

6

In [34]:
x = 5

x >>= 3

print(x)

0

In [35]:
x = 5

x <<= 3

print(x)

40

# Python Comparison Operators

Operator	     Name	                    Example
==	             Equal	                     x == y	
!=	             Not equal	                 x != y	
>	             Greater than	             x > y	
<	             Less than	                 x < y	
>=	             Greater than or equal to	 x >= y	
<=	             Less than or equal to	     x <= y

In [36]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [37]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [38]:
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

In [39]:
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

In [40]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [41]:
x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

# Python Logical Operators

Operator	        Description	                                            Example 
and 	    Returns True if both statements are true	                    x < 5 and  x < 10	
or	        Returns True if one of the statements is true	                x < 5 or x < 4	
not	        Reverse the result, returns False if the result is true	        not(x < 5 and x < 10)

In [42]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [43]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [44]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False